<h2 mat-dialog-title>Crear Nuevo Cliente</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="createForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Género</mat-label>
      <input matInput formControlName="gender">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput type="number" formControlName="age">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Identificación</mat-label>
      <input matInput formControlName="identification">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Cancelar</button>
  <button mat-raised-button [color]="createForm.valid ? 'accent' : ''" [disabled]="!createForm.valid" (click)="createClient()" >Crear</button>
</mat-dialog-actions>