<mat-toolbar color=>
  Banco Héctor
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/clientes">Clientes</a>
      <a mat-list-item routerLink="/cuentas">Cuentas</a>
      <a mat-list-item routerLink="/movimientos">Movimientos</a>
      <a mat-list-item routerLink="/reportes">Reportes</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>