.main-content {
    margin: 20px;
}

.button-spacing {
    margin-right: 10px;
}

.delete-button {
    background-color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}